node_modules
build
dist
bin/*.log
.idea
.settings
*.log
*.iml
*.project
.DS_Store
.vscode
/index.js
/dev.js
/es.js
/es-dev.js
/typescript.js
/typescript-dev.js
/react.js
/react-dev.js
/vue.js
/vue-dev.js
/common